<div class = "picture_page">

<%= link_to "Back to Pictures", pictures_url %>
<%= button_to "Edit", edit_picture_path(@picture) %>
<%= button_to "Delete", @picture, method: :delete, data: {confirm: "Are you sure you want to delete this picture?"} %>



<br>
<br>
<p>Title: <%= @picture.title %></p><br>
<p>Artist: <%= @picture.artist %></p>
<br>
<br>
<%= image_tag @picture.url %>

</div>
